{% macro navigation(navlist, type="") %}

<ul class="nav">
    {% for item in navlist %}
    <li class="nav-{{ item.name | slugify }}">
        {% if item.url is matching("^([^:/?#]+)://") %}
            {# The url is considered as external link #}
            {% set url = item.url | safe %}
        {% else %}
            {% set url = get_url(path=item.url) %}
        {% endif %}
        
        {% if type == "secondary" and loop.first == false %}
            ::before
        {% endif %}
        <a href="{{ url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
</ul>

{% endmacro navigation %}
