{% extends "base.html" %}
{% import "partials/postcard.html" as pc %}
{% import "macros/responsive_img.html" as respimg %}

{% block body_class %}home-template{% endblock body_class %}

{% block body %}
<div class="site-header-content">
    {% if config.extra.cover_image %}
        {{ respimg::responsive_img(img_path=config.extra.cover_image, sizes="100vw", class="site-header-cover") }}
    {% endif %}
    <h1 class="site-title">
        {% if config.extra.logo %}
            {% set logo = resize_image(path=config.extra.logo, width=600, op="fit_width") %}
            <img class="site-logo" src="{{ logo.url }}" alt="{{ config.title }}" />
        {% else %}
            {{ config.title }}
        {% endif %}
    </h1>
    <p>{{ config.description }}</p>
</div>

{# The main content area #}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {% set posts = get_section(path="posts/_index.md") %}
            {% set postcard_cnt = config.extra.index_posts_count | default(value=12) %}
            {% for p in posts.pages | slice(end=postcard_cnt) %}
                {{ pc::postcard(post=p, index=loop.index0, type="home") }}
            {% endfor %}
        </div>

    </div>
</main>
{% endblock body %}
