{% extends "base.html" %}
{% import "macros/postcard.html" as pc %}

{% block body_class %}home-template{% endblock body_class %}

{% block body %}
<div class="site-header-content">
    {% if config.extra.cover_image %}
        {# This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 #}
        {% set cover_300w = resize_image(path=config.extra.cover_image, width=300, op="fit_width") %}
        {% set cover_600w = resize_image(path=config.extra.cover_image, width=600, op="fit_width") %}
        {% set cover_1000w = resize_image(path=config.extra.cover_image, width=1000, op="fit_width") %}
        {% set cover_2000w = resize_image(path=config.extra.cover_image, width=2000, op="fit_width") %}
        <img class="site-header-cover"
            srcset="{{ cover_300w.url }} 300w,
                    {{ cover_600w.url }} 600w,
                    {{ cover_1000w.url }} 1000w,
                    {{ cover_2000w.url }} 2000w"
            sizes="100vw"
            src="{{ cover_2000w.url }}"
            alt=""
        />
    {% endif %}
    <h1 class="site-title">
        {% if config.extra.logo %}
            {% set logo = resize_image(path=config.extra.logo, width=600, op="fit_width") %}
            <img class="site-logo" src="{{ logo.url }}" alt="{{ config.title }}" />
        {% else %}
            {{ config.title }}
        {% endif %}
    </h1>
    <p>{{ config.description }}</p>
</div>

{# The main content area #}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed">
            {% set posts = get_section(path="posts/_index.md") %}
            {% set postcard_cnt = config.extra.index_posts_count | default(value=12) %}
            {% set i = 0 %}
            {% for p in posts.pages | slice(end=postcard_cnt) %}
                {{ pc::postcard(post=p, index=i, type="home") }}
                {% set i = i + 1 %}
            {% endfor %}
        </div>

    </div>
</main>
{% endblock body %}
